.Gabilog {
  display: grid;
  grid-auto-columns: minmax(10rem, auto);
  grid-template-rows: max-content max-content;
  background: lightgoldenrodyellow;
  min-height: 100vh;
  min-width: 100vw;
}

.pageIndicator-list {
  vertical-align: middle;
  display: inline;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  cursor: pointer;
}

.pageIndicator-arrow {
  vertical-align: middle;
  display: inline;
}

li .pageIndicator-list {
  margin-left: -0.5rem;
}

ul {
  list-style-position: inside;
  font-size: inherit;
  font-family: 'WandoHope Reg';
  margin: 0;
  padding: 0;
  margin-right: 0.125rem;
}

li {
  font-size: 0.9em;
  padding-inline-start: 0.5rem;
  margin-top: 0.1em;
}
